In [1]:
import pandas as pd
import numpy as np

In [6]:
df_test = pd.read_csv("data/test.csv")
df_train = pd.read_csv("data/train.csv")
df_sample_submission = pd.read_csv("data/sample_submission.csv")
pd.set_option("display.max_rows", None)
df_sample_submission.head(10)

  PassengerId  Transported
0     0013_01        False
1     0018_01        False
2     0019_01        False
3     0021_01        False
4     0023_01        False
5     0027_01        False
6     0029_01        False
7     0032_01        False
8     0032_02        False
9     0033_01        False